<!DOCTYPE html>
<html lang='en'>

<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>LondenUnderground | Home</title>
	<link rel='stylesheet' href='../css/style.css' />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
	<script src="../js/load_data.js"></script>
</head>

<body>
	<!-- navbar -->
	<div class="navbar">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href="/app/" class="navbar__logo"><img id="logo_img" src="../images/logo.png"></a>
			</div>
		</div>
	</div>
	</div>
	<!-- Page content -->
	<div class="app">
		<div class="container">
			<div class="app__inner">
				<div class="app__menu">
					<ul class="vMenu">
						<li><a href="/app/">Home</a></li>
						<li><a href="/app/stations">Stations</a></li>
						<li><a href="/app/lines">Lines</a></li>
						<li><a href="/app/user" class="vMenu--active">My Information</a></li>
					</ul>
				</div>
				<div class="app__main">
					<div class="text-container">
						<div id="all_information">
						<h3 class="app__main__title">Select your account</h3>
						<p>Select your account using your card number. Ex. 1</p>
						<form>
							<label>Card Number</label>
							<input name="user" type="text" placeholder="Card Number, Ex. 1">
							<button type="button" onclick="goTo()">Select</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src='../js/app.min.js'></script>
	<script>
		select();
	</script>
</body>

</html>
